<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GTNScreenRelay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GTNScreenRelay.Properties.Settings>
            <setting name="HttpPort" serializeAs="String">
                <value>45783</value>
            </setting>
            <setting name="ImageFormat" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ImageScaling" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Bezel650" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bezel750" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideFrame650" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideFrame750" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="GtnProcess" serializeAs="String">
                <value>TDSGTNXiFlightSimEXE</value>
            </setting>
            <setting name="GtnWindow750" serializeAs="String">
                <value>TDS GTN750Xi</value>
            </setting>
            <setting name="GtnWindow650" serializeAs="String">
                <value>TDS GTN650Xi</value>
            </setting>
        </GTNScreenRelay.Properties.Settings>
    </userSettings>
</configuration>